body {
  margin: 0 !important;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  background-color: #f7f5f5 !important;
}

a {
  text-decoration: none;
  font-size: 14px;
}

p {
  font-size: 14px;
}

.main-container {
  height: 90vh;
  display: flex;
  align-items: center;
}

#header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 13vh;
  z-index: 999;
}
#header-container .logo-container {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
}
#header-container .logo-container .logo {
  width: 120px;
  height: 80px;
}
#header-container .option-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
  font-size: 16px;
  color: #353e5d;
  font-weight: 500;
}
#header-container .option-container span {
  display: inline-block;
  position: relative;
  cursor: pointer;
}
#header-container .option-container span.carriers {
  margin-right: 20px;
}
#header-container .option-container span.customers {
  margin-right: 20px;
}
#header-container .option-container span.sign-in {
  margin-right: 20px;
}
#header-container .option-container span:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f39b03;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
#header-container .option-container span:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
#header-container .option-container {
  width: 50%;
  height: 100%;
}

#home-container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#home-container .description-container {
  width: 45%;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
#home-container .description-container button {
  border: 2px solid #353e5d;
  width: 150px;
  border-radius: 8px;
  padding: 10px;
  min-width: 100px;
  min-height: 50px;
  margin-right: 10px;
  background-color: white;
  color: black;
  margin-top: 30px;
  text-transform: uppercase;
  cursor: pointer;
}
#home-container .description-container button:hover {
  background-color: #f39b03;
}
#home-container .img-container {
  width: 30%;
}
#home-container .img-container img {
  width: 80%;
}

#table-container {
  width: 80%;
  height: 100%;
  margin-top: 50px;
  border-radius: 7px;
}
#table-container .MuiTableHead-root {
  background-color: #eff1f3;
}
#table-container th {
  height: 40px;
  padding: 8px 10px 10px 10px;
}
#table-container tr {
  min-height: 55px !important;
  max-height: 55px !important;
  border-bottom: 1px solid rgb(224, 224, 224);
}
#table-container td {
  border-bottom: none !important;
  padding: 20px 10px;
}
#table-container img {
  height: 25px;
  width: 25px;
  cursor: pointer;
}
#table-container .data-container {
  display: flex;
  flex-direction: column;
}
#table-container .data-container span {
  font-size: 13px;
}

.MuiDataGrid-root {
  margin-top: 50px;
  width: 80%;
  height: 100%;
}
.MuiDataGrid-root .MuiDataGrid-row .action-container {
  display: flex;
  width: 100%;
}
.MuiDataGrid-root .MuiDataGrid-row .action-container img {
  height: 23px;
  width: 23px;
  cursor: pointer;
  margin-right: 20px;
}
.MuiDataGrid-root .MuiDataGrid-row #status-container button {
  border-radius: 20px;
  font-size: 13px;
  border: 1px solid black;
}
.MuiDataGrid-root .MuiDataGrid-row #status-container button.status-1 {
  color: black;
}
.MuiDataGrid-root .MuiDataGrid-row #status-container button.status-2 {
  color: black;
  border-color: black;
  font-weight: bold;
}
.MuiDataGrid-root .MuiDataGrid-row #status-container button.status-3 {
  background-color: yellow;
  color: black;
}
.MuiDataGrid-root .MuiDataGrid-row #status-container button.status-4 {
  background-color: red;
  color: white;
  font-weight: bold;
}
.MuiDataGrid-root .MuiDataGrid-row #status-container button.status-5 {
  background-color: green;
  color: white;
}
.MuiDataGrid-root .MuiDataGrid-row #status-container button.status-6 {
  background-color: black;
  color: white;
}

#shipments-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  margin-bottom: 50px;
}
#shipments-container .heading-container {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#shipments-container .heading-container span {
  font-size: 26px;
  color: #353e5d;
}
#shipments-container .heading-container button {
  background-color: #f39b03;
  color: #353e5d;
  font-weight: bold;
  height: 50px;
}
#shipments-container .load-on-data-container {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  margin-bottom: 8px;
}
#shipments-container .route-container {
  display: flex;
  flex-direction: column;
}

#expandable-button-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0px !important;
}
#expandable-button-container img {
  width: 10px;
  height: 10px;
}

.MuiDrawer-root .MuiPaper-root {
  width: 35%;
}
.MuiDrawer-root #shipments-drawer-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
  overflow-y: auto;
  padding-bottom: 30px;
}
.MuiDrawer-root #shipments-drawer-container span {
  font-size: 26px;
  color: #353e5d;
}
.MuiDrawer-root #shipments-drawer-container #shipments-form {
  display: flex;
  flex-direction: column;
}
.MuiDrawer-root #shipments-drawer-container #shipments-form .select-box {
  margin-top: 20px;
}
.MuiDrawer-root #shipments-drawer-container #shipments-form .select-box .MuiInputBase-root {
  height: 56px;
}
.MuiDrawer-root #shipments-drawer-container #shipments-form .MuiTextField-root {
  margin-top: 20px;
}
.MuiDrawer-root #shipments-drawer-container #shipments-form .MuiTextField-root input {
  height: 56px;
  padding: 0px 5px 0px 5px;
}
.MuiDrawer-root #shipments-drawer-container #shipments-form .submit-btn {
  background-color: #f39b03;
  color: #353e5d;
  font-weight: bold;
  height: 70px;
  margin-top: 30px;
}
.MuiDrawer-root #shipments-drawer-container #shipments-form .add-route-container {
  display: flex;
  flex-direction: column;
}
.MuiDrawer-root #shipments-drawer-container #shipments-form .add-route-container .add-route-btn {
  margin-top: 20px;
  justify-content: center;
  max-width: 150px;
  color: #353e5d;
  border-color: #353e5d;
  min-height: 52px;
  max-height: 52px;
}
.MuiDrawer-root #shipments-drawer-container #shipments-form fieldset {
  border-color: #353e5d;
}
.MuiDrawer-root #shipments-drawer-container #shipments-form div.Mui-focused fieldset {
  border-color: #f39b03;
}
.MuiDrawer-root #shipments-drawer-container #shipments-form label.Mui-focused {
  color: #353e5d;
}
.MuiDrawer-root #shipments-drawer-container #shipments-form hr {
  border: 1px solid #353e5d;
  width: 100%;
  margin-top: 25px;
}
.MuiDrawer-root #shipments-drawer-container #shipments-form .load-on-limitter {
  width: calc(100% - 20px);
  margin-top: 15px;
  margin-left: 20px;
}

.price-container {
  display: flex;
  justify-content: space-around;
}
.price-container .price {
  margin-right: 15px;
}

.carrier-dialog .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  max-width: 400px;
}
.carrier-dialog .css-1t1j96h-MuiPaper-root-MuiDialog-paper .add-carrier-form {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}
.carrier-dialog .css-1t1j96h-MuiPaper-root-MuiDialog-paper .add-carrier-form button {
  margin-top: 10px;
}
.carrier-dialog .css-1t1j96h-MuiPaper-root-MuiDialog-paper .add-carrier-form fieldset {
  border-color: #353e5d;
}
.carrier-dialog .css-1t1j96h-MuiPaper-root-MuiDialog-paper .add-carrier-form div.Mui-focused fieldset {
  border-color: #f39b03;
}
.carrier-dialog .css-1t1j96h-MuiPaper-root-MuiDialog-paper .add-carrier-form label.Mui-focused {
  color: #353e5d;
}
.carrier-dialog .css-1t1j96h-MuiPaper-root-MuiDialog-paper .add-carrier-form p {
  margin-left: 0px;
  font-size: 10px;
}

.loadLocationContainerVertical {
  display: flex;
  flex-direction: column;
  height: auto;
  margin-left: 20px;
  width: calc(100% - 20px);
}
.loadLocationContainerVertical .loadLocationContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.loadLocationContainerVertical .loadLocationContainer .load-location-container-inputs {
  display: flex;
  flex-direction: column;
  width: 70%;
  justify-content: space-around;
}
.loadLocationContainerVertical .loadLocationContainer .loadOnLocationButton {
  height: 30px !important;
  width: 30px;
  background-color: #f39b03;
  color: #353e5d;
  font-weight: bold;
  margin-top: 30px;
  margin-left: 7px;
}
.drag-drop-dialog .MuiDialog-container .MuiPaper-root {
  padding: 10px 30px;
  width: 35vw;
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.drag-drop-dialog .MuiDialog-container .MuiPaper-root div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.drag-drop-dialog .MuiDialog-container .MuiPaper-root div.active {
  border: 2px dotted #6883e3;
}
.drag-drop-dialog .MuiDialog-container .MuiPaper-root h2 {
  padding-left: 0px;
  padding-right: 0px;
}
.drag-drop-dialog .MuiDialog-container .MuiPaper-root span {
  color: #6883e3;
  cursor: pointer;
}
.drag-drop-dialog .MuiDialog-container .MuiPaper-root span:hover {
  text-decoration: underline;
}
.drag-drop-dialog .MuiDialog-container .MuiPaper-root input {
  display: none;
}
.drag-drop-dialog .MuiDialog-container .MuiPaper-root .files-container {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  height: auto;
}
.drag-drop-dialog .MuiDialog-container .MuiPaper-root .files-container .remove-btn {
  color: red;
  cursor: pointer;
}

#register-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
#register-container h2 {
  font-size: 25px;
  color: #353e5d;
}
#register-container .register-form {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 40%;
}
#register-container .register-form fieldset {
  border-color: #353e5d;
}
#register-container .register-form div.Mui-focused fieldset {
  border-color: #f39b03;
}
#register-container .register-form label.Mui-focused {
  color: #353e5d;
}
#register-container .register-form button {
  color: #353e5d;
  cursor: pointer;
  margin-top: 15px;
}
#register-container .register-form button:hover {
  background-color: #f39b03;
}

#login-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
#login-container h2 {
  font-size: 25px;
  color: #353e5d;
}
#login-container .login-form {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 40%;
}
#login-container .login-form fieldset {
  border-color: #353e5d;
}
#login-container .login-form div.Mui-focused fieldset {
  border-color: #f39b03;
}
#login-container .login-form label.Mui-focused {
  color: #353e5d;
}
#login-container .login-form button {
  color: #353e5d;
  cursor: pointer;
  margin-top: 15px;
}
#login-container .login-form button:hover {
  background-color: #f39b03;
}

.delete-dialog-container button {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
}

#customers-page {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  align-items: center;
  height: 90vh;
  margin-bottom: 50px;
}
#customers-page .heading-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  font-size: 26px;
  color: #353e5d;
  align-items: center;
}
#customers-page .heading-container button {
  background-color: #f39b03;
  color: #353e5d;
  font-weight: bold;
  height: 50px;
}
#customers-page .customers-table-action-container img {
  margin-right: 20px;
}

.MuiDrawer-root .MuiPaper-root {
  width: 25%;
}
.MuiDrawer-root #add-customer-drawer-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
  overflow-y: auto;
  padding-bottom: 30px;
}
.MuiDrawer-root #add-customer-drawer-container span {
  font-size: 26px;
  color: #353e5d;
}
.MuiDrawer-root #add-customer-drawer-container .add-customer-form {
  display: flex;
  flex-direction: column;
}
.MuiDrawer-root #add-customer-drawer-container .add-customer-form .MuiTextField-root {
  margin-top: 20px;
}
.MuiDrawer-root #add-customer-drawer-container .add-customer-form .MuiTextField-root input {
  height: 50px;
  padding: 0px 5px 0px 5px;
}
.MuiDrawer-root #add-customer-drawer-container .add-customer-form .submit-btn {
  background-color: #f39b03;
  color: #353e5d;
  font-weight: bold;
  height: 70px;
  margin-top: 30px;
}

#carriers-page {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  align-items: center;
  height: 90vh;
  margin-bottom: 50px;
}
#carriers-page .heading-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  font-size: 26px;
  color: #353e5d;
  align-items: center;
}
#carriers-page .heading-container button {
  background-color: #f39b03;
  color: #353e5d;
  font-weight: bold;
  height: 50px;
}
#carriers-page .carriers-table-action-container img {
  margin-right: 20px;
}

.MuiDrawer-root .MuiPaper-root {
  width: 25%;
}
.MuiDrawer-root #add-carrier-drawer-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
  overflow-y: auto;
  padding-bottom: 30px;
}
.MuiDrawer-root #add-carrier-drawer-container span {
  font-size: 26px;
  color: #353e5d;
}
.MuiDrawer-root #add-carrier-drawer-container .add-carrier-form {
  display: flex;
  flex-direction: column;
}
.MuiDrawer-root #add-carrier-drawer-container .add-carrier-form .MuiTextField-root {
  margin-top: 20px;
}
.MuiDrawer-root #add-carrier-drawer-container .add-carrier-form .MuiTextField-root input {
  height: 50px;
  padding: 0px 5px 0px 5px;
}
.MuiDrawer-root #add-carrier-drawer-container .add-carrier-form .submit-btn {
  background-color: #f39b03;
  color: #353e5d;
  font-weight: bold;
  height: 70px;
  margin-top: 30px;
}

.edit-shipment-form {
  display: flex;
  flex-direction: column;
}
.edit-shipment-form .select-container {
  height: auto;
  margin-top: 20px;
  width: 100%;
}
.edit-shipment-form .select-container select {
  width: 100%;
  height: 50px;
  border-radius: 4px;
  border: 1.3px solid #353e5d;
}
.edit-shipment-form .select-container select:focus {
  border: 1.3px solid #f39b03;
  outline: none;
}
.edit-shipment-form .price-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.edit-shipment-form .price-container .text-input-container {
  margin-right: 10px;
}
.edit-shipment-form .price-container .text-input-container input {
  height: 48px;
}
.edit-shipment-form .text-input-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.edit-shipment-form .text-input-container input {
  height: 50px;
  border-radius: 4px;
  border: 1.3px solid #353e5d;
  padding: 0px 2px;
}
.edit-shipment-form .text-input-container input:focus {
  border: 1.3px solid #f39b03;
  outline: none;
}
.edit-shipment-form .submit-btn {
  background-color: #f39b03;
  color: #353e5d;
  font-weight: bold;
  height: 70px;
  margin-top: 30px;
}
.edit-shipment-form label {
  opacity: 0.5;
}
.edit-shipment-form .add-route-btn {
  margin-top: 20px;
  justify-content: center;
  max-width: 150px;
  color: #353e5d;
  border-color: #353e5d;
  min-height: 52px;
  max-height: 52px;
}
.edit-shipment-form hr {
  border: 1px solid #353e5d;
  width: 100%;
  margin-top: 25px;
}

/*# sourceMappingURL=style.css.map */
