body {
  margin: 0 !important;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  background-color: #f7f5f5 !important;
}

a {
  text-decoration: none;
  font-size: 14px;
}

p {
  font-size: 14px;
}

.main-container {
  height: 90vh;
  display: flex;
  align-items: center;
}

#header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 13vh;
  position: sticky;
  top: 0;
  z-index: 999;
}
#header-container .logo-container {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 20px;
}
#header-container .logo-container .logo {
  width: 120px;
  height: 80px;
}
#header-container .option-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
  font-size: 16px;
  color: #353e5d;
  font-weight: 500;
}
#header-container .option-container span {
  display: inline-block;
  position: relative;
  cursor: pointer;
}
#header-container .option-container span.sign-in {
  margin-right: 20px;
}
#header-container .option-container span:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f39b03;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
#header-container .option-container span:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
#header-container .option-container {
  width: 50%;
  height: 100%;
}

#home-container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#home-container .description-container {
  width: 45%;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
#home-container .description-container button {
  border: 2px solid #353e5d;
  width: 150px;
  border-radius: 8px;
  padding: 10px;
  min-width: 100px;
  min-height: 50px;
  margin-right: 10px;
  background-color: white;
  color: black;
  margin-top: 30px;
  text-transform: uppercase;
  cursor: pointer;
}
#home-container .description-container button:hover {
  background-color: #f39b03;
}
#home-container .img-container {
  width: 30%;
}
#home-container .img-container img {
  width: 80%;
}

#table-container {
  width: 80%;
  height: 100%;
  margin-top: 50px;
  border-radius: 7px;
}
#table-container th {
  height: 40px;
  padding: 8px 10px 10px 10px;
  background-color: #eff1f3;
}
#table-container tr {
  min-height: 55px !important;
  max-height: 55px !important;
  border-bottom: 1px solid rgb(224, 224, 224);
}
#table-container td {
  border-bottom: none !important;
  padding: 20px 10px;
}
#table-container .data-container {
  display: flex;
  flex-direction: column;
}
#table-container .data-container span {
  font-size: 13px;
}

#shipments-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90vh;
  margin-bottom: 50px;
}
#shipments-container .heading-container {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#shipments-container .heading-container span {
  font-size: 26px;
  color: #353e5d;
}
#shipments-container .heading-container button {
  background-color: #f39b03;
  color: #353e5d;
  font-weight: bold;
  height: 50px;
}
#shipments-container .load-on-data-container {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}

#expandable-button-container {
  font-size: 0px !important;
}
#expandable-button-container img {
  width: 10px;
  height: 10px;
}

.MuiDrawer-root .MuiPaper-root {
  width: 35%;
}
.MuiDrawer-root #shipments-drawer-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
  overflow-y: auto;
  padding-bottom: 30px;
}
.MuiDrawer-root #shipments-drawer-container span {
  font-size: 26px;
  color: #353e5d;
}
.MuiDrawer-root #shipments-drawer-container #shipments-form {
  display: flex;
  flex-direction: column;
}
.MuiDrawer-root #shipments-drawer-container #shipments-form .select-box {
  margin-top: 20px;
}
.MuiDrawer-root #shipments-drawer-container #shipments-form .select-box .MuiInputBase-root {
  height: 56px;
}
.MuiDrawer-root #shipments-drawer-container #shipments-form .MuiTextField-root {
  margin-top: 20px;
}
.MuiDrawer-root #shipments-drawer-container #shipments-form .MuiTextField-root input {
  height: 56px;
  padding: 0px 5px 0px 5px;
}
.MuiDrawer-root #shipments-drawer-container #shipments-form .submit-btn {
  background-color: #f39b03;
  color: #353e5d;
  font-weight: bold;
  height: 70px;
  margin-top: 30px;
}
.MuiDrawer-root #shipments-drawer-container #shipments-form fieldset {
  border-color: #353e5d;
}
.MuiDrawer-root #shipments-drawer-container #shipments-form div.Mui-focused fieldset {
  border-color: #f39b03;
}
.MuiDrawer-root #shipments-drawer-container #shipments-form label.Mui-focused {
  color: #353e5d;
}
.MuiDrawer-root #shipments-drawer-container #shipments-form hr {
  border: 1px solid #353e5d;
  width: 100%;
  margin-top: 25px;
}
.MuiDrawer-root #shipments-drawer-container #shipments-form .load-on-limitter {
  width: calc(100% - 20px);
  margin-left: 20px;
}

.carrier-dialog .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  max-width: 400px;
}
.carrier-dialog .css-1t1j96h-MuiPaper-root-MuiDialog-paper .add-carrier-form {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}
.carrier-dialog .css-1t1j96h-MuiPaper-root-MuiDialog-paper .add-carrier-form button {
  margin-top: 10px;
}
.carrier-dialog .css-1t1j96h-MuiPaper-root-MuiDialog-paper .add-carrier-form fieldset {
  border-color: #353e5d;
}
.carrier-dialog .css-1t1j96h-MuiPaper-root-MuiDialog-paper .add-carrier-form div.Mui-focused fieldset {
  border-color: #f39b03;
}
.carrier-dialog .css-1t1j96h-MuiPaper-root-MuiDialog-paper .add-carrier-form label.Mui-focused {
  color: #353e5d;
}
.carrier-dialog .css-1t1j96h-MuiPaper-root-MuiDialog-paper .add-carrier-form p {
  margin-left: 0px;
  font-size: 10px;
}

.loadLocationContainerVertical {
  display: flex;
  flex-direction: column;
  height: auto;
  margin-left: 20px;
  width: calc(100% - 20px);
}
.loadLocationContainerVertical .loadLocationContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.loadLocationContainerVertical .loadLocationContainer .load-location-container-inputs {
  display: flex;
  width: 80%;
  justify-content: space-around;
}
.loadLocationContainerVertical .loadLocationContainer .load-location-container-inputs .select-box {
  width: 43%;
}
.loadLocationContainerVertical .loadLocationContainer .loadOnLocationButton {
  height: 30px !important;
  width: 30px;
  background-color: #f39b03;
  color: #353e5d;
  font-weight: bold;
  margin-top: 30px;
  margin-left: 7px;
}

/*# sourceMappingURL=style.css.map */
