.carrier-dialog {
    .css-1t1j96h-MuiPaper-root-MuiDialog-paper {
        max-width: 400px;

        .add-carrier-form {
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 10px;

            button {
                margin-top: 10px;
            }

            fieldset {
                border-color: #353e5d;
            }

            div {
                &.MuiFormControl-root {
                    // height: 61px;
                }
                &.Mui-focused {
                    fieldset {
                        border-color: #f39b03;
                    }
                }
            }

            label {
                &.Mui-focused {
                    color: #353e5d;
                }
            }

            p {
                margin-left: 0px;
                font-size: 10px;
            }
        }
    }
}
