#header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    position: sticky;
    top: 0;
    z-index: 999;

    .logo-container {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        margin-left: 20px;

        .logo {
            width: 120px;
            height: 80px;
        }
    }

    .option-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        margin-right: 20px;
        font-size: 16px;
        color: #353e5d;
        font-weight: 500;

        span {
            display: inline-block;
            position: relative;
            cursor: pointer;

            &.sign-in {
                margin-right: 20px;
            }

            &:after {
                content: "";
                position: absolute;
                width: 100%;
                transform: scaleX(0);
                height: 2px;
                bottom: 0;
                left: 0;
                background-color: #f39b03;
                transform-origin: bottom right;
                transition: transform 0.25s ease-out;
            }

            &:hover:after {
                transform: scaleX(1);
                transform-origin: bottom left;
            }
        }
    }

    .option-container {
        width: 50%;
        height: 100%;
    }
}
