.loadLocationContainerVertical {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-left: 20px;
    width: calc(100% - 20px);
    .loadLocationContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .load-location-container-inputs {
            display: flex;
            width: 80%;
            justify-content: space-around;

            .select-box {
                width: 43%;
            }
        }

        .loadOnLocationButton {
            height: 30px !important;
            width: 30px;
            background-color: #f39b03;
            color: #353e5d;
            font-weight: bold;
            margin-top: 30px;
            margin-left: 7px;
        }

        button {
        }
    }
}
