#register-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
  justify-content: center;
  align-items: center;

  h2 {
    font-size: 25px;
    color: #353e5d;
  }
  padding: 20px;

  .register-form {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 40%;
    fieldset {
      border-color: #353e5d;
    }

    div {
      &.MuiFormControl-root {
        // height: 61px;
      }
      &.Mui-focused {
        fieldset {
          border-color: #f39b03;
        }
      }
    }

    label {
      &.Mui-focused {
        color: #353e5d;
      }
    }

    button {
      color: #353e5d;
      cursor: pointer;
      margin-top: 15px;

      &:hover {
        background-color: #f39b03;
      }
    }
  }
}
