#table-container {
  width: 80%;
  height: 100%;
  margin-top: 50px;
  border-radius: 7px;

  .MuiTableHead-root {
    background-color: #eff1f3;
  }

  th {
    height: 40px;
    padding: 8px 10px 10px 10px;
  }

  tr {
    min-height: 55px !important;
    max-height: 55px !important;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
  }

  td {
    border-bottom: none !important;
    padding: 20px 10px;
  }

  img {
    height: 25px;
    width: 25px;
    cursor: pointer;
  }

  .data-container {
    display: flex;
    flex-direction: column;

    span {
      font-size: 13px;
    }
  }
}

.MuiDataGrid-root {
  margin-top: 50px;
  width: 80%;
  height: 100%;
  .MuiDataGrid-row {
    .action-container {
      display: flex;
      width: 100%;
      img {
        height: 23px;
        width: 23px;
        cursor: pointer;
        margin-right: 20px;
      }
    }

    #status-container {
      button {
        border-radius: 20px;
        font-size: 13px;
        border: 1px solid black;

        &.status-1 {
          color: black;
        }

        &.status-2 {
          color: black;
          border-color: black;
          font-weight: bold;
        }

        &.status-3 {
          background-color: yellow;
          color: black;
        }

        &.status-4 {
          background-color: red;
          color: white;
          font-weight: bold;
        }

        &.status-5 {
          background-color: green;
          color: white;
        }

        &.status-6 {
          background-color: black;
          color: white;
        }
      }
    }
  }
}
