<p>&nbsp;</p>
<!-- HIDDEN PREHEADER TEXT -->
<div style="display: none; font-size: 1px; color: #fefefe; line-height: 1px; font-family: 'Lato', Helvetica, Arial, sans-serif; max-height: 0px; max-width: 0px; opacity: 0; overflow: hidden;">We're thrilled to have you here! Get ready to dive into your new account.</div>
<!-- Main content -->
<table border="0" width="100%" cellspacing="0" cellpadding="0">
    <!-- LOGO -->
    <tbody>
        <tr>
            <td align="center" bgcolor="#86288E">
                <!-- Your logo content here -->
            </td>
        </tr>
        <!-- Email Type -->
        <tr>
            <td style="padding: 0px 10px 0px 10px;" align="center" bgcolor="#86288E">
                <table style="max-width: 600px;" border="0" width="100%" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td style="padding: 20px 20px 0px 20px; border-radius: 4px 4px 0px 0px; color: #ffffff; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 24px; font-weight: 400; letter-spacing: 2px; line-height: 28px;" align="center" valign="top" bgcolor="#86288E">
                                <h2 style="font-size: 48px; font-weight: 400; margin: 2; color: #ffffff;">QC_EMAIL_AD_ACTION</h2>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <!-- Action-specific content -->
        <tr>
            <td style="padding: 0px 10px 0px 10px;" align="center" bgcolor="#86288E">
                <table style="max-width: 600px;" border="0" width="100%" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td style="padding: 40px 20px 20px 20px; border-radius: 4px 4px 0px 0px; color: #111111; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 48px; font-weight: 400; letter-spacing: 4px; line-height: 48px;" align="center" valign="top" bgcolor="#ffffff">
                                <h1 style="font-size: 24px; font-weight: 400; margin: 2;">QC_EMAIL_TITLE</h1>
                                <img style="display: block; border: 0px;" src="https://lilly021.com/img/site-logo.svg" width="125" height="120" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <!-- List of reasons and explanations -->
        <tr>
            <td style="padding: 0px 10px 0px 10px;" align="center" bgcolor="#f4f4f4">
                <table style="max-width: 600px;" border="0" width="100%" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td align="left" bgcolor="#ffffff">
                                <table border="0" width="100%" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr>
                                            <td style="padding: 20px 30px 30px 30px; border-radius: 0px 0px 4px 4px; color: #666666; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 25px;" align="center" bgcolor="#ffffff">
                                                <p style="margin: 0;"><strong>Reasons and Explanations:</strong></p>
                                                QC_EMAIL_FAILURE_REASONS
                                                <div><a style="padding-right: 10px;" href="https://instagram.com"><img src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png" width="25" /></a> <a href="https://twitter.com"><img src="https://cdn-icons-png.flaticon.com/512/733/733579.png" width="25" /></a></div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <!-- Static summary text -->
        <tr>
            <td style="padding: 0px 10px 0px 10px;" align="center" bgcolor="#f4f4f4">
                <table style="max-width: 600px;" border="0" width="100%" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td style="padding: 0px 30px 40px 30px; border-radius: 0px 0px 4px 4px; color: #666666; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 25px;" align="left" bgcolor="#ffffff">
                                <p style="margin: 0;">QC_EMAIL_SUMMARY</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
